@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  background-image: url("../../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: url("../../images/icon-error.svg") !important;
}

.invalid {
  border-color: #dc3545;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn-green:hover,
.btn-green:active,
.btn-green:visited,
.btn-green {
  color: white;
  background-color: hsl(154, 59%, 51%);
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:visited,
.btn-blue {
  color: white;
  background-color: hsl(248, 32%, 49%);
}

/*  New changes  */
h1 {
    font-size: 65px;
    font-weight: 800;
    color:white;
}

#free-trial {
  padding: 15px;

}
#free-trial:hover {
  padding: 15px;
  box-shadow: 0px 10px 3px -4px #dd6566;
}
.card-body {
    padding: 20px ;
    margin-bottom: 10px;
}
.card-body form input {
    padding: 25px;
}

.card-body #claim-btn {
    padding: 13px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

.card-body #claim-btn:hover {
   background-color:  hsl(154, 73%, 58%);;
}
.page-footer p {
    margin-top: 10px;
}